<%- include ("../partials/head")%>
<script src="/validaciones/js-front-uploadProduct.js"></script>
<title>Agregar producto</title>
</head>
<body>
    <%- include ("../partials/header")%>

    <main>
        
        <form action="/products/agregar" method="POST" class="user-form admin-form" enctype="multipart/form-data" id="form">
            <div class="user-container">
            <h2 class="user-title">Agregar producto</h2>
            <div class="input-user">
                <label for="nombre" class="bar-user">Nombre del producto:</label>
                <input type="text" name="nombre" placeholder="Nombre del producto" id="input-name">
                <% if (locals.errors && errors.nombre) { %>
                 <div class="text-danger">
                     <%= errors.nombre.msg  %> 
                 </div>
                <% } %>
            </div>
            <div class="text-danger" id="error-productName"></div>
            <div class="input-user">
                <label for="precio" class="bar-user">Precio del producto:</label>
                <input type="text" id="input-price" name="precio" placeholder="Ej: 5678">
            </div>
            <div class="text-danger" id='error-productPrice'></div>
            <div class="input-user">
                <label for="description" class="bar-user">Descripción:</label>
                <textarea name="description" id="description"></textarea>
                <% if (locals.errors && errors.description) { %>
                    <div class="text-danger">
                        <%= errors.description.msg  %> 
                    </div>
                   <% } %>
            </div>
            <div class="text-danger" id='error-productDescription'></div>
            <div>
                <h4 class="user-title">Seleccione una categoria para su producto</h4>
                <div class="user-checkbox">
                    <div><input type="radio" name="productCheck" id="product-check" value="1"></div>
                    <div class="user-legal"><label for="product-check">Productos</label></div>
                </div>
                <select class= "select-txt-bar-product" name="categoria" id="product-type" >
                    <option class= "select-txt" value="product" selected>Elija una opcion</option>
                    <option class= "select-txt" value="1">Componentes de PC</option>
                    <option class= "select-txt" value="2">Perifericos</option>
                    <option class= "select-txt" value="3">Celulares</option>
                    <option class= "select-txt" value="4">Impresoras</option>
                    <option class= "select-txt" value="5">Articulos para el Hogar</option>
                    <option class= "select-txt" value="6">Computadoras de escritorio</option>
                    <option class= "select-txt" value="7">Notebooks y Tablets</option>
                  </select><br>
                  <div class="user-checkbox">
                    <div><input type="radio" name="productCheck" value="2" id="service-check"></div>
                    <div class="user-legal"><label for="service-check">Servicio Tecnico</label></div>
                </div>
                <select class= "select-txt-bar-service" name="Categoria" id="service-type">
                    <option class= "select-txt" value="service" selected>Elija una opcion</option>
                    <option class= "select-txt" value="8">Notebooks</option>
                    <option class= "select-txt" value="9">Celulares</option>
                    <option class= "select-txt" value="10">Computadoras de escritorio</option>
                    <option class= "select-txt" value="11">Impresoras</option>
                    <option class= "select-txt" value="12">Televisores</option>
                </select>
            </div>
            <div class="add-img">
                <label for="image" class="form-label"> Imagen de tu producto: </label>
                <input type="file" name="image" id="image" class="img-button">
             </div>
             <% if (locals.errors && errors.image) { %>
                <div class="text-danger">
                    <%= errors.image.msg  %> 
                </div>
               <% } %>
            <div><button type="submit" class="user-button">Agregar producto</button></div>
            </div>
        </form>
    </main>

    <footer>
        <%- include ("../partials/footer2")%>
    </footer>
</body>
</html>