<%- include ("../partials/head")%>
<title>Eliminar usuario</title>
</head>
<body>
    <%- include ("../partials/header")%>
    <main>
        <H1 class="edit-hl">ESTOS SON LOS DETALLES DEL USUARIO</H1>
        <div class="user-detail-cont">
            <div class="detail-avatar">
                <img src="<%=user.avatar%>" alt="<%=user.name%>" class="detail-avatar-img">
            </div>
            <div class="user-detail-txt-cont">
                <div>
                    <h3>Nombre de usuario:</h3>
                    <p><%=user.username%></p>
                </div>
                <div>
                    <h3>Nombre:</h3>
                    <p><%=user.name%></p>
                </div>
                <div>
                    <h3>Apellido:</h3>
                    <p><%=user.surname%></p>
                </div>
                <div>
                    <h3>Email:</h3>
                    <p><%=user.email%></p>
                </div>
                <div>
                    <h3>Contraseña</h3>
                    <p>necesario ser admin para ver</p>
                </div>
                <div>
                    <form action="/users/delete/<%=user.id%>?_method=DELETE" method="POST">
                        <button type="submit" class="user-button">BORRAR USUARIO</button>    
                    </form>
                    </div>
                </div>
        </div>
    </main>
    <%- include ("../partials/footer2")%>
</body>