<%- include ("../partials/head")%>
<script src="/validaciones/js-front-login.js"></script>
<title>Iniciar Sesión</title>
</head>
<body>
    <%- include ("../partials/header")%>
    <main>
        <form action="/users/login" method="POST" class="user-form">
            <div class="user-container">
            <h2 class="user-title">Ingresa a tu cuenta</h2>
            <div class="input-user">
                <div><label for="email" class="user-text">Email</label></div>
                <div>
                    <input
                    type="email"
                    id="email"
                    placeholder="ej.@email.com"
                    name="email"
                    class="form-control">
                </div>
                <div class="text-danger" id="front-errors-email">
                </div>
                <% if (locals.errors && errors.email) { %>
                 <div class="text-danger">
                     <%= errors.email.msg %> 
                 </div>
                <% } %>
            </div>
            <div class="input-user">
                <div><label for="password" class="user-text">Contraseña</label></div>
                <div>
                    <input 
                    class="bar-user" 
                    type="text" 
                    id="password" 
                    name="password" 
                    minlength="8" 
                    placeholder="********" 
                    require>
                </div>
                <div class="text-success" id="front-errors-password">
                </div>
                <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %> 
                </div>
                <% } %>
            </div>
            <div><button type="submit" class="user-button">Ingresar</button></div>
            <div class="text-danger" id="front-errors-submit">
            </div>
            <div><h6 class="user-subtitle">Todavia no tenes cuenta?<a href="/users/register"><br>Crear cuenta</a></h6></div>
            </div>
        </form>
    </section>
    <section class = "fixed-icons">
        <div class = "home">
            <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <div class = "mobile">
            <i class="fas fa-mobile-alt"></i>
        </div>
        <div class = "controller">
            <i class="fas fa-gamepad"></i>
        </div>
        <div class = "user">
            <a href="users/login"><i class="fas fa-user"></i></a>
        </div>
    </section>
    </main>
    <%- include ("../partials/footer2")%>
  
</body>