<%- include ("../partials/head")%>
<script src="/validaciones/js-front-register"></script>
<title>Registrarse</title>
</head>
<body>
    <%- include ("../partials/header")%>

<main>
        <form action="/users/register" method="POST" class="user-form" enctype="multipart/form-data">
            <div class="errores">
                <ul>

                </ul>
            </div>
            <div class="user-container">
            <h2 class="user-title">Registra tu Cuenta</h2>
            <h6 class="user-subtitle">Ingresa tus datos para crear tu cuenta</h6>
            <div class="form-container">
            <div class="input-user">
                <div><label for="username" class="user-text">Usuario</label></div>
                <div>
                    <input
                     type="text" 
                     id="username" 
                     name="username" 
                     class="form-control <%= locals.errors && errors.username ? 'is-invalid' : null %>"
                     value="<%= locals.oldData ? oldData.username : null %>">
                </div>
                <% if (locals.errors && errors.username) { %>
                     <div class="text-danger">
                        <%= errors.username.msg %> 
                    </div>
                <% } %>
            </div>
            <div class="user-name">
                <div><label for="name" class="user-text">Nombre</label></div>
                <div>
                    <input
                    type="text" 
                    id="name" 
                    name="name" 
                    class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.name : null %>">
                </div>
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                       <%= errors.name.msg %> 
                   </div>
               <% } %>
            </div>
            <div class="user-name">
                <div><label for="surname" class="user-text">Apellido</label></div>
                <div>
                    <input
                    type="text"
                    id="surname" 
                    name="surname" 
                    class="form-control <%= locals.errors && errors.surname ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.surname : null %>">
                </div>
                <% if (locals.errors && errors.surname) { %>
                    <div class="text-danger">
                       <%= errors.surname.msg %> 
                   </div>
               <% } %>
            </div>
            </div>
            
            <div class="input-user">
                <div><label for="email" class="user-text">Email</label></div>
                <div>
                    <input
                    type="email"
                    id="email"
                    placeholder="ej.@email.com"
                    name="email"
                    class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.email : null %>">
                </div>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                       <%= errors.email.msg %> 
                   </div>
               <% } %>
            </div>
            <div class="input-user">
                <div><label for="password" class="user-text">Contraseña</label></div>
                <div>
                    <input
                    type="password" 
                    id="password" 
                    minlength="8" 
                    placeholder="********" 
                    name="password"
                    class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                </div>
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                       <%= errors.password.msg %> 
                   </div>
               <% } %>
            </div>
            <div class="input-user">
                <div><label for="passwordConfirm" class="user-text">Confirmar contraseña</label></div>
                <div class="bar">
                    <input 
                    type="password" 
                    id="passwordConfirm" 
                    minlength="8" 
                    placeholder="********" 
                    name="passwordConfirm" 
                    class="form-control <%= locals.errors && errors.passwordConfirm ? 'is-invalid' : null %>">
                </div>
                <% if (locals.errors && errors.passwordConfirm) { %>
                    <div class="text-danger">
                       <%= errors.passwordConfirm.msg %> 
                   </div>
               <% } %>
            </div>
            <div class="input-user">
                <div>
                    <label for="avatar" id="avatar">Inserta una imagen</label>
                </div>
                <div class="bar-user">
                    <input type="file" id="avatar" name="avatar">
                 </div><br>
                 <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger">
                       <%= errors.avatar.msg %> 
                   </div>
               <% } %>
            </div>
            <div class="user-checkbox">
                <div><input type="checkbox" name="legal-buy" id="legal-age" required></div>
                <div class="user-legal"><label for="legal-age">Soy mayor de edad</label></div>
            </div>
            <div><button type="submit" class="user-button">Registrarse</button></div>
            <div><h6 class="user-subtitle">Ya tenes cuenta? <a href="/users/login"><br>Inicia sesion</a></h6></div>
            </div>
            </form>
            <br>
            
        </section>
        <section class = "fixed-icons">
            <div class = "home">
                <a href="/"><i class="fas fa-home"></i></a>
            </div>
            <div class = "mobile">
                <i class="fas fa-mobile-alt"></i>
            </div>
            <div class = "controller">
                <i class="fas fa-gamepad"></i>
            </div>
            <div class = "user">
                <a href="/login"><i class="fas fa-user"></i></a>
            </div>
        </section>
    </main>
    <%- include ("../partials/footer2")%>

    

</body>
</html>